.container {
  width: $container;
  margin: 0 auto;
  padding: 0;
  @media (max-width: $wide-screen) {
    width: 1200px;
  }
  @media (max-width: $desktop-wide) {
    width: 1200px;
  }
  @media (max-width: $desktop) {
    width: 924px;
  }
  @media (max-width: $ipad) {
    width: 670px;
  }
  @media (max-width: $tablet) {
    width: 100%;
    padding: 0 50px;
  }
  @media (max-width: $phone-wide) {
    padding: 0 32px;
  }
  @media (max-width: $phone) {
    padding: 0 24px;
  }
}
