// Тут всілякі змінні для твого проекту, не видаляй змінні, що вже тут написані

// container
$container: 1680px;

// ---- ~ DESKTOP size
$wide-screen: 1600px;
$desktop-wide: 1359px;
$desktop: 1199px;

// ---- ~ tablet size
$ipad: 1023px;
$tablet: 767px;

// ---- ~ phone size
$phone-wide: 639px;
$phone-middle: 560px;
$phone: 400px;

// ----- ~ fonts
$standart-font: 'Old Standard TT';